*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.head-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;     
    display: flex;
    flex-direction: row;
    justify-content: center;  
    color: white; 
}
.head-top a{
    list-style: none;
    text-decoration: none;  
    color: white;   
}
.butten a{
    color:white;
    border: #18d43a solid;
    background-color: #18d43a;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    
}
h1{
    font-size:45px;
     
}
.tittle h1{
    color: white;
}
.tittle p{
    color: white;
}
h2{
    font-size: 35px;
    
}
h3{
    font-size: 27px;
    color: white;
}
.cont-header{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 1.5rem;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
   
}
.sec-1-cont{
     height: 980px;
     width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./tiger-04.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;    
}
.section-1{
    max-width: 1200px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.tittle{
    max-width: 560px;

}
.section-2{
    height: 685px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}

.sec-2-main{
    max-width: 1200px;
    height: 100%;
    width: 100%;
       
}
.sec-2-heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(104, 104, 107);
    margin-top: 120px;

}
.sec-2{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px ;
    list-style: none;
    margin-top: 72px;
}
.sec-2-li{
    position: relative; 
}
.sec-2-li img{
   width: 100%;
   height: 100%;
      
}
.sec-2-li h3{
    position: absolute;
    bottom: 0;
    left: 0;
}


